:root {
    --game-bg: #899178;
    --game-block-size: 3em;
}

body {
    margin: 0;
    background-color: darkslategray;
}

@font-face {
    font-family: 'DSEG';
    src: url('fonts/DSEG7ClassicMini-Italic.ttf') format('truetype');
}